Options -MultiViews

<IfModule mod_rewrite.c>

	RewriteEngine on

	RewriteRule ^admin/dashboard/?$ admin/dashboard.php [NC,L]
	RewriteRule ^advisor/dashboard/?$ advisor/dashboard.php [NC,L]

	RewriteRule ^admin/profile?$ admin/profile.php [NC,L]
	RewriteRule ^admin/profile/([^/]+)$ admin/profile.php?tab=$1 [NC,L]
	RewriteRule ^advisor/profile?$ advisor/profile.php [NC,L]
	RewriteRule ^advisor/profile/([^/]+)$ advisor/profile.php?tab=$1 [NC,L]

	RewriteRule ^admin/logout?$ admin/logout.php [NC,L]
	RewriteRule ^advisor/logout?$ advisor/logout.php [NC,L]

	RewriteRule ^admin/login?$ admin/index.php [NC,L]
	RewriteRule ^advisor/login?$ advisor/index.php [NC,L]

	RewriteRule ^admin/advisor/advisor-list?$ admin/advisor/advisor-list.php [NC,L]
	RewriteRule ^advisor/advisor-list?$ advisor/advisor-list.php [NC,L]

	RewriteRule ^admin/advisor/add-advisor?$ admin/advisor/advisor.php [NC,L]

	RewriteRule ^admin/advisor/edit-advisor?$ admin/advisor/edit_advisor.php [NC,L]
	RewriteRule ^admin/advisor/edit-advisor/([^/]+)$ admin/advisor/edit-advisor.php?advisor_id=$1 [NC,L]
	RewriteRule ^admin/advisor/view-advisor/([^/]+)$ admin/advisor/view-advisor.php?advisor_id=$1 [NC,L]

	RewriteRule ^advisor/edit-advisor?$ advisor/edit_advisor.php [NC,L]
	RewriteRule ^advisor/edit-advisor/([^/]+)$ advisor/edit-advisor.php?advisor_id=$1 [NC,L]
	RewriteRule ^advisor/view-advisor/([^/]+)$ advisor/view-advisor.php?advisor_id=$1 [NC,L]

	RewriteRule ^admin/settings/designation-list?$ admin/settings/designation-list.php [NC,L]
	RewriteRule ^admin/settings/licenses-type-list?$ admin/settings/licenses-type-list.php [NC,L]
	RewriteRule ^admin/settings/lead-source-list?$ admin/settings/lead-source-list.php [NC,L]
	RewriteRule ^admin/settings/affiliations-list?$ admin/settings/affiliations-list.php [NC,L]
	RewriteRule ^admin/settings/carrier-appointed-list?$ admin/settings/carrier-appointed-list.php [NC,L]
	RewriteRule ^admin/settings/carrier-list?$ admin/settings/carrier-list.php [NC,L]
	RewriteRule ^admin/settings/premium-volume-list?$ admin/settings/premium-volume-list.php [NC,L]
	RewriteRule ^admin/settings/production-percentage-list?$ admin/settings/production-percentage-list.php [NC,L]
	RewriteRule ^admin/settings/market-list?$ admin/settings/market-list.php [NC,L] 

	RewriteRule ^admin/admin-user/list?$ admin/admin_user/list.php [NC,L]
	RewriteRule ^admin/admin-user/role-list?$ admin/admin_user/role-list.php [NC,L]
	RewriteRule ^admin/admin-user/role?$ admin/admin_user/role.php [NC,L]
	RewriteRule ^admin/admin-user/role/([^/]+)$ admin/admin_user/role.php?role_id=$1 [NC,L]

	RewriteRule ^admin/activity/activity-list/?$ admin/activity/activity-list.php [NC,L]
	RewriteRule ^admin/activity/view-activity/([^/]+)$ admin/activity/view-activity.php?advisor_id=$1 [NC,L]
	RewriteRule ^admin/notes/?$ admin/notes.php [NC,L]
  
  	RewriteRule ^admin/verification/advisor-list?$ admin/verification/advisor-list.php [NC,L]  
	RewriteRule ^admin/verification/edit-advisor/([^/]+)$ admin/verification/edit-advisor.php?advisor_id=$1 [NC,L]
	RewriteRule ^admin/verification/view-advisor/([^/]+)$ admin/verification/view-advisor.php?advisor_id=$1 [NC,L]
	RewriteRule ^advisor-profile/([^/]+)$ advisor-profile.php?key=$1 [NC,L]

	RewriteRule ^advisor/verification/advisor-list?$ advisor/verification/advisor-list.php [NC,L]  
	RewriteRule ^advisor/verification/edit-advisor/([^/]+)$ advisor/verification/edit-advisor.php?advisor_id=$1 [NC,L]
	RewriteRule ^advisor/verification/view-advisor/([^/]+)$ advisor/verification/view-advisor.php?advisor_id=$1 [NC,L]

	RewriteRule ^admin/message/messages-list?$ admin/message/messages-list.php [NC,L]
	RewriteRule ^admin/document/document-vault?$ admin/document/document-vault.php [NC,L]
	RewriteRule ^admin/newsletter?$ admin/newsletter.php [NC,L]
	RewriteRule ^admin/newsletter/([^/]+)$ admin/newsletter.php?id=$1 [NC,L]
	RewriteRule ^admin/analytics/dashboard?$ admin/analytics/dashboard.php [NC,L]
	RewriteRule ^admin/campaigns/list?$ admin/campaigns/list.php [NC,L]
	RewriteRule ^admin/campaigns/single/([^/]+)$ admin/campaigns/single.php?id=$1 [NC,L] 


	RewriteRule ^advisor/notes/?$ advisor/notes.php [NC,L]
	RewriteRule ^advisor/message/messages-list?$ advisor/message/messages-list.php [NC,L]
	RewriteRule ^advisor/document/document-vault?$ advisor/document/document-vault.php [NC,L]
	RewriteRule ^advisor/newsletter?$ advisor/newsletter.php [NC,L]
	RewriteRule ^advisor/newsletter/([^/]+)$ advisor/newsletter.php?id=$1 [NC,L]
	RewriteRule ^advisor/analytics/dashboard?$ advisor/analytics/dashboard.php [NC,L]
	RewriteRule ^advisor/campaigns/list?$ advisor/campaigns/list.php [NC,L]
	RewriteRule ^advisor/campaigns/single/([^/]+)$ advisor/campaigns/single.php?id=$1 [NC,L] 

	RewriteRule ^admin/settings/mail-setting?$ admin/settings/mail-setting.php [NC,L]

	RewriteRule ^admin/calendar?$ admin/calendar.php [NC,L]
	RewriteRule ^admin/important-links-list?$ admin/important-links-list.php [NC,L]

	RewriteRule ^admin/settings/indexed-universal-life?$ admin/settings/indexed-universal-life.php [NC,L]
	RewriteRule ^admin/settings/term?$ admin/settings/term.php [NC,L]
	RewriteRule ^admin/settings/whole-life?$ admin/settings/whole-life.php [NC,L]
	RewriteRule ^admin/settings/advanced-planning?$ admin/settings/advanced-planning.php [NC,L]
	RewriteRule ^admin/settings/fixed-indexed-annuities?$ admin/settings/fixed-indexed-annuities.php [NC,L]
	RewriteRule ^admin/settings/long-term-care?$ admin/settings/long-term-care.php [NC,L]
	RewriteRule ^admin/settings/life-settlements?$ admin/settings/life-settlements.php [NC,L]
	RewriteRule ^admin/settings/cron-setting?$ admin/settings/cron-setting.php [NC,L]

	RewriteRule ^admin/advisor/advisor-email-settings/([^/]+)$ admin/advisor/advisor-email-settings.php?advisor_id=$1 [NC,L]

	RewriteRule ^admin/forgot-password?$ admin/forgot-password.php [NC,L]
	RewriteRule ^admin/reset-password/([^/]+)$ admin/reset-password.php?key=$1 [NC,L]

	RewriteRule ^advisor/forgot-password?$ advisor/forgot-password.php [NC,L]
	RewriteRule ^advisor/reset-password/([^/]+)$ advisor/reset-password.php?key=$1 [NC,L]
</IfModule>