div#kt_app_sidebar {
    background-color: #010520;
}

.logo_with_header {
    background-color: #010520;
}

.app-sidebar-menu-primary.menu>.menu-item>.menu-link .menu-title {
    color: #C09446;
}

.app-sidebar-menu-primary.menu>.menu-item.show>.menu-link .menu-title {
    color: #C09446;
}

.app-sidebar-menu-primary.menu>.menu-item .menu-item .menu-link .menu-title {
    color: #fff;
}

.app-sidebar-menu-primary.menu>.menu-item>.menu-link .menu-icon i,
.app-sidebar-menu-primary.menu>.menu-item.show>.menu-link .menu-icon,
.app-sidebar-menu-primary.menu>.menu-item.show>.menu-link .menu-icon .svg-icon,
.app-sidebar-menu-primary.menu>.menu-item.show>.menu-link .menu-icon i {
    color: #C09446;
}

.view_advisor .ribbon.ribbon-clip.ribbon-end .ribbon-label {
    right: -5px;
    top: 15px;
}

.app-sidebar-menu-primary.menu>.menu-item>.menu-link.active .menu-title {
    color: #010520;
}

.app-sidebar-menu-primary.menu>.menu-item>.menu-link.active .menu-icon i {
    color: #010520;
}

.app-sidebar-menu-primary.menu>.menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here) .menu-title,
.app-sidebar-menu-primary.menu>.menu-item:not(.here)>.menu-link:hover:not(.disabled):not(.active):not(.here) .menu-title {
    color: #fff;
}

.app-sidebar-menu-primary.menu>.menu-item:not(.here)>.menu-link:hover:not(.disabled):not(.active):not(.here) .menu-icon {
    color: #fff;
}

.app-sidebar-menu-primary.menu>.menu-item:not(.here)>.menu-link:hover:not(.disabled):not(.active):not(.here) .menu-icon i {
    color: #fff;
}

.app-sidebar-menu-primary.menu>.menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here),
.app-sidebar-menu-primary.menu>.menu-item:not(.here)>.menu-link:hover:not(.disabled):not(.active):not(.here) {
    color: #fff;
}

.view_advisor .card .card-header {
    min-height: 50px;
}

.mw-1300px {
    max-width: 1300px !important;
}

[data-bs-theme=light] {
    --bs-text-gray-500: #071437 !important;
    --bs-text-gray-600: #4B5675 !important;
    --bs-border-color: #C4CADA !important;
}

.stepper.stepper-links .stepper-nav .stepper-item .stepper-title {
    color: #071437 !important;
}

.stepper.stepper-links .stepper-nav .stepper-item.current .stepper-title {
    color: #1B84FF !important;
}

.w_20 {
    width: 20% !important;
}

.bg-theme-color {
    background-color: #010520 !important;
}

.border-theme-color {
    border: 1px solid #010520 !important;
}

tr.stop_email {
    background-color: #FFF5F8 !important;
}